<div
  class="backdrop"
  [class]="{
    'opacity-100': isVisible,
    'opacity-0': !isVisible
  }"
>
  <div
    class="modal-content"
    [class]="{
      'scale-100': isVisible,
      'scale-90': !isVisible
    }"
  >
    @if (title){
    <div class="modal-title">
      <h2>{{ title }}</h2>
    </div>
    }

    <div class="modal-body">
      <div class="children-content">{{ children }}</div>
    </div>

    <div class="modal-footer">
      <app-button [onClick]="onClose.bind(this)" content="FECHAR" />
    </div>
  </div>
</div>
