<div class="screen">
  @if (isLoading) { <loading />} @else if(modalConfig.isVisible) {
  <modal
    [isVisible]="modalConfig.isVisible"
    [title]="modalConfig.title"
    [children]="modalConfig.children"
    [onClose]="modalConfig.onClose"
  />} @else {
  <app-header />
  <div class="container">
    <div class="form-box">
      <h2>Criar Grupo</h2>
      <form autocomplete="off" (ngSubmit)="create()">
        <access-input
          type="text"
          id="create-name"
          name="create-name"
          label="Nome"
          [(ngModel)]="createGroupDto.name"
        />
        @if(currentGroups.length > 0) {
        <label for="group">SELECIONE UM GRUPO (opcional)</label>
        <select
          name="group"
          id="group"
          [value]="createGroupDto.group"
          (change)="changeSelect($event)"
        >
          <option value="null">NENHUM</option>
          @for (group of currentGroups; track $index) {
          <option [value]="group._id">
            {{ group.group ? group.group + "/" : "" }}{{ group.name }}
          </option>
          }</select
        >}
        <app-button content="Criar" />
      </form>
    </div>
  </div>
  }
</div>
